* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.inline-block{
    display: inline-block;
}

.flexbox{
    display: flex;
}

.margin20{
    margin: 20px;
}

.margin-bottom20{
    margin-bottom: 20px;
}

.border{
    border-left: 3px solid lime;
}

.border2{
    border-bottom: 3px solid lime;
}

/*MAIN*/

.container{
    width: 100%;
    height: 100vh;
}

.boxflex{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
}

/*SIDEBAR*/

.sidebar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topsidebar{
    width: 100%;
    height: 500px;
}

.bottomsidebar{
    width: 100%;
    background-color: black;
}

/* LOGO */

.logo{
    width: 100%;
    height: 100px;
    border: 1px dashed black;
    display: block;
}

.logo1{
    margin: 20px;
    width: 150px;
}

.smalllogo{
    display: none;
    text-align: center;
}

.w-small-logo{
    width: 30px;
    margin: 5px;
}

/* MENU*/

.menu{
    width: 100%;
}

.menu ul{
    text-align: left;
    margin-bottom: 20px;
}

.icon-svg{
    width: 30px;
    margin: 5px;
    margin-left: 20px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(11%) hue-rotate(345deg) brightness(84%) contrast(82%);
}

.icon-svg:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(101%) contrast(102%);
}

.icon-svg2:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
}

.menu span{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#homewhite{
    color: white;
    font-weight: bold;
}

.color-g{
    color: rgb(163, 163, 163);
}

.color-g:hover{
    color: white;
}


.menu li{
    position: relative;
}


/*PLAYLIST*/

.playlist{
    width: 100%;
    height: 40vh;
    overflow-y: auto;
}

.playlist h4{
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.playlist a{
    margin-left: 20px;
    color:rgb(163, 163, 163);
    font-weight: 700;
}

.playlist li{
    line-height: 35px;
}

.playlist i{
    font-size: 50px;
}

.plus{
    position: relative;
    margin-bottom: 10px;
}

.plus span{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
}


/*INSTALL-USER*/


.install-user{
    width: 100%;
    margin-bottom: 10px;
}

.install-user i{
    font-size: 15px;
    margin-left: 20px;
}

.install-user h3{
    color: white;
    margin-left: 20px;
}

.install-user hr{
    color: white;
    width: 215px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#user{
    font-size: 40px;
}

#user-text{
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
    font-weight: bold;
}

#installa-app{
    margin-left: 10px;
    font-weight: 700;
}

#jonh{
    position: relative;
}

#install{
    margin-bottom: 10px;
    position: relative;
}

/*MUSIC*/

.music{
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
    flex-direction: column;
}

.topbar{
    width: calc(100% - 250px);
    height: 100px;
    background-color: #080b1275;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.boxbutton{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000000;
}

.upgrade{
    width: 300px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0%, -50%);
}

.button{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: 2px solid white;
    position: absolute;
    right: 0;
    top: 0%;
    transform: translate(0%, -50%);
    border-radius: 25px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    transition: .6s;
}

.zoom{
    transform: scale(1);
}

.zoom:hover{
    transform: scale(1.2);
}

.content-artist h2{
    color: white;
}

.content-artist h3{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.content-artist p{
    text-align: center;
    color:rgb(163, 163, 163);
}

#text-left, #text-left2{
    text-align: left;
    margin-bottom: 30px;
}

.content-artist{
    overflow-y: auto;
    padding-top: 130px;
    height: 100%;
}

.navcenter{
    text-align: center;
}

.item-nav-link{
    margin-right: 25px;
}

.item-recently-played{
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.album img{
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
}

.album-flex{
    display: flex;
    justify-content:flex-start;
    margin-left: 20px;
    margin-bottom: 100px;
}

.album{
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
}

.albumimg{
    position: relative;
}

.albumimg:hover .play{
    opacity: 1;
}

.play{
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0;
}

.albumimg:hover .play-circle{
    opacity: 1;
    border-radius: 50%;
}

.image-circle{
    border-radius: 50%;
}

.navcenter a{
    color:rgb(163, 163, 163);
    font-weight: 700;
}

.navcenter ul{
    margin-bottom: 50px;
}


/*FOOTER*/


.player{
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

.playerbox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colleft{
    width: 15%;
    height: 100%;
}

.colright{
    width: 15%;
    height: 100%;
    position: relative;
}

.colbig{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.left-player{
    max-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.col-img{
    width: 30%;
    height: 100%;
    position: relative;
}

.col-img img{
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-title{
    width: 40%;
    height: 100%;
    position: relative;
}

.col-title h5{
    position: absolute;
    top: 40%;
    transform: translate(-0%, -50%);
}

.col-title p{
    position: absolute;
    top: 60%;
    transform: translate(-0%, -50%);
}

.col-icon{
    width: 30%;
    height: 100%;
    position: relative;
}

.col-title a{
    color: white;
}

#brano-nome{
    font-size: 12px;
    color: rgb(163, 163, 163);
}

#heart{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#folder{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.center-player{
    position: absolute;
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.icon-center{
    width: 50px;
    height: 100%;
    position: relative;
}

#play, #redo-alt, #step-forward, #step-backward, #random{
    color: white;
} 

#play{
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#random, #step-backward, #step-forward, #redo-alt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.iconcenter-bottom{
    width: 70%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#line-range{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.iconcenter-bottom span{
    font-size: 10px;
    color: white;
}


.right-player{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.icon-right{
    width: 40%;
    height: 100%;
}

.icon-right a{
    color: white;
}

.icon-right div{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.marginr10{
    margin-right: 10px;
}

.volume{
    width: 60%;
    height: 100%;
    position: relative;
}

.volume input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*RESPONSITY*/

@media screen and (max-width: 991px) {
    .album{
        width: calc(100% / 4 - 20px);
    }

    .album-flex{
        flex-wrap: wrap;
    }

    .colleft, .colright{
        width: 25%;
    }
    
    .colbig{
        max-width: 50%;
    }

    .center-player{
        width: 50%;
    }
}


@media screen and (max-width: 768px) {
    .album{
        width: calc(100% / 2 - 20px);
    }

    .album-flex{
        flex-wrap: wrap;
    }

    .colleft, .colright{
        width: 33%;
    }
    
    .colbig{
        max-width: 33%;
    }

    .center-player{
        width: 33%;
    }

    .iconcenter-bottom{
        width: 50vw;
    }
}