* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*Spotify TOP*/

.mainbox {
    height: calc(100vh - 90px);
}


.colonna {
    width: 50px;
    flex-shrink: 0;
    padding: 5px 0;
    background-color: #000000;
}

.img {
    width: 100%;
    display: block;
}

.flexbox {
    display: flex;
}

.flexcolonna {
    display: flex;
    flex-direction: column;
}

/*logo*/

.logo .logotipo.img.froms {
    display: none;
}

.logo .logosmall.img.onlyxs {
    display: flex;
}

.logo .logotipo {
    width: 130px;
}

.logo .logosmall {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 10px
}


/*menu*/


ul.menu li a.botton {
    color: #a3a3a3;
}

.colonna ul.menu > li a.botton {
    border-left: 2px solid transparent;
}

.menu li a img {
    width: 25px;
}

.menu li .botton h5.froms,
.account .userimage h3.froms {
    display: none;
}

ul.menu li a > img {
    padding-bottom: 10px;
}

.colonna li.active {
    border-left: 2px solid #adff2f;
}
.account > div.download, div.userimage {
    padding: 10px 0;
}

.menu li a.botton,
.account .download a.botton.flexbox,
.account .userimage .flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist.froms {
    display: none;
    overflow: hidden;
}

.playlist ul.list {
    overflow-y: auto;
}
/* /Sidenav: top */

/* Sidenav: bottom */
.account .download a.botton img {
    width: 18px;
}

.account hr.froms {
    display: none;
}

.account {
    margin-top: auto;
}

.account .download .botton h5.froms {
    display: none;
}

.account .userimage img.img {
    border-radius: 50px;
    background-color:#808080;
    width: 25px;
    height: 25px;
}

